<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body 
      { 
        text-align:center;
        font-family:helvetica,arial;
        font-size:22px;
        color:#888;
        margin:20px
      }
    #c 
      {
        margin:0 auto;
        width:500px;
        /*text-align:left*/
      }
      a {
        text-decoration: none;
        color: #2980b9;
      }
  </style>
</head>
<body>
  <h2>Welcome To Sinatra Songs!</h2>
  <img src='https://s-media-cache-ak0.pinimg.com/736x/77/0b/bf/770bbfdf4368ab2607bdddc85800ca56.jpg'>
  <div id="c">
    <a href="/songs">Go To Song Library</a>
  </div>
</body>
</html>