<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body 
      { 
        text-align:center;
        font-family:helvetica,arial;
        font-size:22px;
        color:#888;
        margin:20px
      }
    #c 
      {
        margin:0 auto;
        width:500px;
        text-align:left
      }
      a {
        /*text-decoration: none;*/
        color: #2980b9;
      }

      #new {
        color: #27ae60;
      }
  </style>
</head>
<body>
  <h2>Sinatra Songs</h2>
  <div id="c">
  <ol>
  <% @songs.each_with_index do |song, index|%>
    <li><a href="/songs/<%=index%>" title=""><%=song[:title]%></a></li>
  <% end %>
  </ol>
  </div>
  <div>
      <a id="new" href="/songs/new">Add New Song</a>

  </div>
</body>
</html>