<h1>Add New Song</h1>
<form action="/songs" method="post" accept-charset="utf-8">
 <input type="text" placeholder="title">
 <input type="text" placeholder="youtube url">
 <input type="submit">
</form>