<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
  }

  .thumb {
    width: 100px;
    display: block;    
    margin: 0 auto;
  }

  h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align:center;
  }

  body { 
    text-align:center;
    font-family:helvetica,arial;
    font-size:22px;
    color:#888;
    background: #24323E;
    margin:20px
    }

  #c {
    margin:0 auto;
    width:500px;
    text-align:left
  }
  
  a {
    color: #2980b9;
  }

  img {
    width: 300px;
  }

  #container {
    background: #fff;
    padding: 1em;
    max-width: 400px;
    margin: 100px auto 0;
    margin-top: 10px;
    box-shadow: 0 0 1em #222;
    border-radius: 5px;
    width:500px;
    text-align:left
  }

  #new {
    background: #02B3E4;
    box-shadow: 0 3px 0 0 #1D3C6A;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    /*font-size: 2em;*/
    line-height: 1.6em;
    /*margin: 2em 0 0;*/
    /*outline: none;*/
    /*padding: .8em 0;*/
    text-shadow: 0 1px #68B25B;
  }

  </style>
</head>
<body>

<img src="http://i.imgur.com/IMMIu3Z.png" alt="">
<h1>Sinatra Songs</h1>
  <div id="container">
  <h2><%=@album["collectionName"]%></h2>
  <img class="thumb" src="<%=@album['artworkUrl100']%>" alt="">
  <ol>
  <% @songs.each do |song| %>
    <li><%=song["trackName"]%></li>
  <% end %>
  </ol>
    <a id="new" href="/songs/new">Search Again</a>
  </div>
</body>
</html>


<!--  -->